<?xml version="1.0" encoding="utf-8"?>
<launch>
    <node name="localization_node" pkg="localization" type="localization_node" output="screen">
        <rosparam command="load" file="$(find localization)/params/localization_params.yaml"/>
    </node>
    <node name="odom_correction_node" pkg="localization" type="odom_correction_node" output="screen"/>
</launch>
